@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  background: #F5F8FA;
}
::-webkit-scrollbar-thumb {
  background: #2365F2;
  border-radius: 8px;
}